/*
Arquivo: historico.css
Descrição: Estiliza a seção de histórico da calculadora, incluindo a lista de operações realizadas e seu contorno visual.
*/
/* === Histórico de operações === */
.historico-section {
  width: 375px;
  margin: 20px auto;
  padding: 10px 15px;
  border: 1px solid #333;
  border-radius: 39px;
  background-color: #1e1e1e;
  color: #ccc;
  font-family: monospace;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

.historico-section h2 {
  font-size: 16px;
  margin-bottom: 10px;
  text-align: center;
  color: #ff9800;
}

#historico {
  list-style: none;
  padding: 10px;
  margin: 10px;
  max-height: 150px;
  overflow-y: auto;
}